
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: source-sans-pro;
	background-color: #766767;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	min-height: 500vh;
}
/* Container */
.container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 500vh;
	background-color: #FFFFFF;
}

/* Navigation */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: pink;
	height: 4.6875rem;
	padding: 1rem;
  }
  
  .logo{
	width: 3.1rem;
}
  .menu {
	
	list-style: none;
	display: flex;
	gap: 0.5rem;
  }
  
  .menu a {
	font-family: jost;
	color: rgb(0, 0, 0);
	font-weight:300;
	font-size: large;
	text-decoration: none;
	display: block;
	padding: 1rem;
	margin-top: 5px;
	border-radius: 0.5rem;
  }
  
  .menu a:hover {
    color: black;
  }
  
  .btn-menu {
	display: none;
  }


.hero_header {
	color: #ffffff;
	font-family: jost;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	font-family: jost;
	color: #FFFFFF;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/eye.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 45% 32% ;
	padding-top: 150px;
	padding-bottom: 150px;
	
}
.light {
	font-family: jost;
	color: #e2cce0;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 300px;
	height: 100%;
    border-radius: 6px;
	max-width: 412;
	max-height:300 ;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	margin-top: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	margin-top: auto;
	background-color: #bb1414;
	padding-top: 60px;
	padding-bottom: 60PX;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 995px) {
	.header{
		position: sticky;
		top: 0;
	}
	.menu {
		position: fixed;
		display: block;
		position: absolute;
		top: 4.6875rem;
		left: 0;
		background: gray;
		text-align: center;
		width: 100%;
		height: 0;
		z-index: 1;
		visibility: hidden;
		overflow-y: hidden;
		transition: 0.5s;
	  }
	  .menu a {
		padding: 1rem 0;
		margin-inline: 1rem;
		border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
		border-radius: 0;
	  }
	  .btn-menu {
		background: none;
		border: none;
		font: inherit;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: var(--white);
		padding: 1rem 0;
		cursor: pointer;
	  }
	  .hamburger {
		border-top: 0.130rem solid;
		width: 1.25rem;
	  }
	  .hamburger::after,
	  .hamburger::before {
		content: " ";
		display: block;
		width: 1.25rem;
		height: 0.125rem;
		background: currentColor;
		margin-top: 0.3125rem;
		position: relative;
		transition: 0.3s;
	  }
	}


.hero_header {
	color: #ffffff;
	font-family: jost;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	font-family: jost;
	color: #FFFFFF;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/eye.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 150px;
	
}
.light {
	font-family: jost;
	color: #e2cce0;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
.footer_column iframe{
	height: 200px;
	width: 300px;
}
.nav.active .menu {
	height: calc(100vh - 4.6875rem);
	visibility: visible;
	overflow-y: auto;
  }
  .nav.active .hamburger {
	border-top-color: transparent;
  }
  .nav.active .hamburger::before {
	transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
	transform: rotate(-135deg);
	top: -0.4375rem;
  }
  @media (min-width: 768px){
	.footer_column iframe{
		height: 340px;
		width: 600px;
	}
  }