/* Estilos gerais */
body {
    font-family: jost;
    background-image: url(../img/form.jpg);
    background-repeat: no-repeat;
    background-size: 200% ;
}
.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
}
fieldset {
    border: 3px solid rgb(255, 216, 216);
    border-radius: 10px;
}
legend {
    border: 1px solid rgb(255, 216, 216);
    padding: 10px;
    text-align: center;
    background-color: rgb(87, 19, 19);
    border-radius: 8px;
}
.inputBox {
    position: relative;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: rgb(244, 168, 231);
}
#data_nascimento {
    background-color: rgb(244, 168, 231);;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #f89dc6;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    background:linear-gradient(45deg, rgb(255, 233, 254), rgb(255, 167, 249), rgb(255, 234, 254));
    text-decoration: none;
    transition: 0.3s ease all;
    margin: 0 auto;
    z-index: 1;
    cursor: pointer;
  }
  
  button::before {
    transition: 0.5s all ease;
    position: absolute;
    border-radius: 7px;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background: linear-gradient(45deg, rgb(245, 153, 238), rgb(133, 21, 97), rgb(245, 153, 238));
    z-index: -1;
}
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }
/* Media queries para diferentes tamanhos de tela */
@media (max-width: 315px) {
    .box {
        width: 80%;
        padding: 10px;
    }
}

@media (min-width: 310px) and (max-width: 995px) {
    body {
        background-image:url(../img/mobile.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
    }
    .box {
        margin: auto;
        width: 70%;
        height: auto;
    }
    fieldset {
        border: 3px solid rgb(255, 216, 216);
        border-radius: 10px;
    }
    legend {
        border: 1px solid rgb(255, 216, 216);
        padding: 10px;
        text-align: center;
        background-color: rgb(87, 19, 19);
        border-radius: 8px;
    }
    .inputUser {
        border-bottom: 1px solid #ffd7d7;
    }
    #data_nascimento {
        left: 50%;
        top: 60%;
        color: #ffafdf;
        background-color: #7e3153;
    }
}
